# add files here that will be specific to your environment that you don't want to commit to git
# note that if forking this repo to your own org, you may wish to remove these from .gitignore
prd.txt
tst.txt
tmp*.txt
Private-*.xml
playground/*
dotmobi-Customers.txt
JSPP-Customers.txt
Test-Enviroments.txt
.DS_Store
.gitignore
instance-lists/jspp.txt
instance-lists/datajar-mobi.txt
